.body{
    font-family: 'Ubuntu', sans-serif;
}


.left_side{
      background-color: #F0F3FD;
    }


.image03 {
      height: 30px;
      width: 30px;
      padding: 5px;
    }
.background {
    background-image: url("static/white_bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }
  .btn{
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  }
  .btn-primary{
      background-color:  #3785E0;
      border-color: #3785E0;
      border-radius: 6px;
      
  }
  .btn-danger{
      background-color: #FE7878;
      border-color: #FE7878;
      border-radius: 6px;
  
  }

